.search-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.search-card {
    position: relative; 
    width: 250px;
    height: 300px;
    border: 1px solid #ddd;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    background-color: white;
}

.search-card:hover {
    transform: scale(1.03);
}

.search-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.search-details {
    /* display: flex; */
    position: absolute;
    bottom: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.9);
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
    font-family: 'Segoe UI', sans-serif;
}

.search-details h4 {
    margin: 0;
    font-size: 16px;
    color: #333;
}

.search-details h6 {
    margin: 4px 0 0 0;
    font-size: 12px;
    color: #777;
}


.add-to-cart-btn {
  background-color: #ff8f33;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin-top: 10px;
  padding: 5px 10px;
}

.add-to-cart-btn:hover {
  background-color: #e86c00;
  transform: scale(1.05);
}




.quantity-controls {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 10px;
  gap: 10px;
}

.quantity-controls button {
  background-color: #FC8019;
  color: white;
  border: none;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.quantity-controls button:hover {
  background-color: #e86c00;
}

.quantity-controls span {
  font-size: 16px;
  font-weight: bold;
  min-width: 20px;
  text-align: center;
}


.item-added-notification {
    font-family: outfit;
  margin-top: 90px;
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: #4caf50;
  color: white;
  padding: 12px 16px;
  border-radius: 6px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.2);
  z-index: 1001;
  font-size: 14px;
  transition: opacity 0.3s ease-in-out;
}

.search-results-container{
    margin-top: 110px;
}

